version: '3.9'

services:
  web:
    build: .
    container_name: django_app
    command: gunicorn auth_system.wsgi:application --bind 0.0.0.0:1870
    volumes:
      - static_volume:/usr/src/app/static
      - media_volume:/usr/src/app/media
    env_file: .env
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: postgres_db
    env_file: .env
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    restart: always

  nginx:
    image: nginx:latest
    container_name: nginx_server
    ports:
      - "80:80"
    volumes:
      - static_volume:/static
      - media_volume:/media
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - web

volumes:
  postgres_data:
  static_volume:
  media_volume:
